.tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__add-task-btn {
    margin-left: auto;
  }

  &__table {
    width: 100%;
  }
}

.tasks-empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > * {
    margin-bottom: 20px;
  }
}
